.git
.github
.idea
.vscode
.cursor
.env
.env.*
!.env.example
node_modules
vendor
docs
tests
phpunit.xml
.phpunit.cache
.phpunit.result.cache
database/*.sqlite*
public/storage
public/hot
storage/app/public/*
storage/app/private/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
storage/logs/*
bootstrap/cache/*.php
Dockerfile
.dockerignore
